node_modules
.vscode/*
package-lock.json
t.ts
main.dot
q.md
codeLab
.DS_Store
out/
.idea
tests/resources/output
tests/resources/callgraph/projectTest/*
coverage
doc/
exportRollup.config.mjs
dist/
*.log
output
builtIn/
arktools/
lib/
.qoder
**/flowDroidExample/* 
tests/resources/taintAnalysis/sdk
tests/resources/taintAnalysis/transFromFlowDroid/Needs.md
tests/unit/taintAnalysis/transFromFlowDroid/calculate.ts
tests/unit/taintAnalysis/transFromFlowDroid/HeapTimeUse.txt
tests/unit/taintAnalysis/transFromFlowDroid/HeapTimeUseOpt.txt
.venv/
undergraduate/tmp/
